<h1>{{ website.name }}</h1>
<table class="table is-narrow">
    <thead>
        <tr>
            <th>name</th>
            <th>date</th>
            <th>diff file (if exist)</th>
        </tr>
    </thead>
    <tbody>
        {% for check_file in website.check_files %}
            <tr>
                <td>{{ check_file.file_name }}</td>
                <td>{{ check_file.creation_date }}</td>
                <td>{{ check_file.diff_file.href|safe }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>