<table class="table is-narrow">
    <thead>
        <tr>
            <th>url name</th>
            <th>url</th>
            <th>diff count</th>
        </tr>
    </thead>
    <tbody>
        {% for website in websites %}
            <tr>
                <td><a href="{{ url_for('url', website_slug=website.slug) }}">{{ website.name }}</a></td>
                <td>{{ website.url }}</td>
                <td>{{ website.diff_files_count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>